---
import Layout from "../layouts/Layout.astro";
import { Icon } from 'astro-icon/components'
---
<Layout class="">
    <!-- banner -->
    <div class="relative w-screen flex flex-col justify-center items-center p-10">
        <img 
            class="w-full rounded-lg "
            src="/blog/EUSEXUA/banner.jpg" 
            alt=""
        >
        <!-- title -->
        <div class="flex flex-col text-center absolute top-[40%] text-white">
                <h1 class="font-nohemiBold text-9xl">
                    EUSEXUA
                </h1>
                <sub class="font-PPEditorial text-2xl">
                    UN VIAJE SONORO Y VISUAL QUE DESAFÍA LOS LÍMITES DE LA CREATIVIDAD.
                </sub>
        </div>
        <!-- byline -->
        <div class="w-full flex absolute bottom-[10%] left-[20%] ">
            <div class="flex items-center gap-4">
                <div class="">
                    <img 
                        class="w-10 h-10 rounded-full object-cover"
                        src="/blog/EUSEXUA/juan-diego.jpg" 
                        alt="Autor de la entrada del blog"
                    >
                </div>
                <div class="text-black">    
                    <p class="text-xs font-nohemiLight">Por: <span class=" text-xs font-nohemiBold">Juan Diego Chinchay</span></p>
                    <p class="text-xs font-nohemiLight">Fecha: <span class="text-xs font-nohemiBold">18/02/2025</span></p>    
                </div>
            </div>
        </div>
    </div>
    
    <!-- cuerpo -->
    <div class="w-screen pb-6 text-base flex gap-4 font-nohemiLight ">
        <div class="flex-2 relative ">
            <div class="">
                <div class=" bg-gray-500 p-6 w-[60%] absolute right-[10%]">
                <h2 class="text-m font-nohemiBold text-white mb-4 ">SÍGUENOS EN REDES SOCIALES</h2>
                <div class="flex flex-col gap-2">
                    <span class="flex gap-2" >
                        <Icon name="instagram" class='text-xl text-white'/>
                        <a  target="_blank" class="text-white">Instagram</a>
                    </span>
                    <span class="flex gap-2">
                        <Icon name="linkedin"class='text-xl text-white'/>
                        <a  target="_blank" class="text-white">Facebook</a>
                    </span>
                    <span class="flex gap-2" >
                        <Icon name="x" class='text-xl text-white'/>
                        <a  target="_blank" class="text-white">Twitter</a>
                    </span>
                </div>
            </div>
            </div>
        </div>
        <div class="flex-6 flex flex-col justify-center">

            <div >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur iusto aliquam debitis necessitatibus beatae iste sunt enim, sapiente error ab deserunt vitae veritatis et, doloribus molestias vel adipisci, unde amet aut sed. Natus quas dolorem provident rem? Quibusdam cupiditate modi tempore omnis tempora molestiae praesentium quis eius? Doloremque, inventore vero pariatur perspiciatis exercitationem aliquid quaerat maxime autem nobis explicabo repellat natus blanditiis ipsum illo. Veniam, laudantium consequatur? Ex inventore autem temporibus at atque rem quam sapiente facere natus iure voluptatem et sunt, esse dolorum doloremque totam perferendis, vel incidunt facilis beatae aliquam, commodi cupiditate. Dignissimos facere sapiente quae ducimus! Accusantium perspiciatis maiores quisquam. Ex, est rerum distinctio ipsum ab laboriosam architecto nihil?
            </div>
            
            <div >
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam eaque omnis incidunt, minus facilis architecto laboriosam aspernatur. Quidem, consequatur repudiandae. Amet, tempora ad recusandae quos fuga asperiores labore similique sequi expedita necessitatibus, quasi neque dolorem dolore maxime aliquam. Sit ratione sequi perspiciatis? Maxime reprehenderit iure ullam saepe necessitatibus at delectus, enim consectetur voluptatum earum eaque. Saepe ullam eum numquam quo tempore non voluptatem, fuga adipisci ad tenetur accusamus culpa voluptatibus rerum nemo totam inventore aperiam aut corrupti atque magni deserunt impedit. Sapiente!
            </div>
            <div class="flex justify-center">
                <img 
                class="max-h-[400px] object-cover rounded-lg"
                src="/blog/EUSEXUA/1.jpg" 
                alt=""
                >
            </div>
            <div >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laboriosam, ullam accusamus incidunt vel fugit debitis quisquam facere aliquid dolor assumenda. Aperiam, distinctio eligendi eum labore qui neque tempore! Exercitationem autem praesentium tenetur ipsa impedit! Voluptate deleniti dicta, provident molestiae sit aliquid dolor necessitatibus. Ad culpa repellat obcaecati quaerat autem nulla earum numquam officiis, nam explicabo laborum esse illum, modi voluptate commodi mollitia vel officia laudantium, neque voluptas. Maiores ex excepturi est amet doloremque alias esse molestias, et praesentium numquam eum ducimus aliquid mollitia vero soluta incidunt? Esse molestias quos asperiores temporibus minima itaque totam perferendis.
            </div>
            <div >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laboriosam, ullam accusamus incidunt vel fugit debitis quisquam facere aliquid dolor assumenda. Aperiam, distinctio eligendi eum labore qui neque tempore! Exercitationem autem praesentium tenetur ipsa impedit! Voluptate deleniti dicta, provident molestiae sit aliquid dolor necessitatibus. Ad culpa repellat obcaecati quaerat autem nulla earum numquam officiis, nam explicabo laborum esse illum, modi voluptate commodi mollitia vel officia laudantium, neque voluptas. Maiores ex excepturi est amet doloremque alias esse molestias, et praesentium numquam eum ducimus aliquid mollitia vero soluta incidunt? Esse molestias quos asperiores temporibus minima itaque totam perferendis.
            </div>
            <div >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laboriosam, ullam accusamus incidunt vel fugit debitis quisquam facere aliquid dolor assumenda. Aperiam, distinctio eligendi eum labore qui neque tempore! Exercitationem autem praesentium tenetur ipsa impedit! Voluptate deleniti dicta, provident molestiae sit aliquid dolor necessitatibus. Ad culpa repellat obcaecati quaerat autem nulla earum numquam officiis, nam explicabo laborum esse illum, modi voluptate commodi mollitia vel officia laudantium, neque voluptas. Maiores ex excepturi est amet doloremque alias esse molestias, et praesentium numquam eum ducimus aliquid mollitia vero soluta incidunt? Esse molestias quos asperiores temporibus minima itaque totam perferendis.
            </div>
            <div class="flex justify-center">
                <img 
                class="max-h-[400px] object-cover rounded-lg"
                src="/blog/EUSEXUA/2.jpg" 
                alt=""
                >
            </div>
            <div class="font-PPEditorial text-2xl">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium eum perspiciatis dolor quisquam et labore eaque cumque atque ab rerum exercitationem commodi, ipsam, quod omnis, iste hic nobis. Ratione, repellat?
            </div>
            <div >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laboriosam, ullam accusamus incidunt vel fugit debitis quisquam facere aliquid dolor assumenda. Aperiam, distinctio eligendi eum labore qui neque tempore! Exercitationem autem praesentium tenetur ipsa impedit! Voluptate deleniti dicta, provident molestiae sit aliquid dolor necessitatibus. Ad culpa repellat obcaecati quaerat autem nulla earum numquam officiis, nam explicabo laborum esse illum, modi voluptate commodi mollitia vel officia laudantium, neque voluptas. Maiores ex excepturi est amet doloremque alias esse molestias, et praesentium numquam eum ducimus aliquid mollitia vero soluta incidunt? Esse molestias quos asperiores temporibus minima itaque totam perferendis.
            </div>
            <div >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laboriosam, ullam accusamus incidunt vel fugit debitis quisquam facere aliquid dolor assumenda. Aperiam, distinctio eligendi eum labore qui neque tempore! Exercitationem autem praesentium tenetur ipsa impedit! Voluptate deleniti dicta, provident molestiae sit aliquid dolor necessitatibus. Ad culpa repellat obcaecati quaerat autem nulla earum numquam officiis, nam explicabo laborum esse illum, modi voluptate commodi mollitia vel officia laudantium, neque voluptas. Maiores ex excepturi est amet doloremque alias esse molestias, et praesentium numquam eum ducimus aliquid mollitia vero soluta incidunt? Esse molestias quos asperiores temporibus minima itaque totam perferendis.
            </div>
            <img 
            class="max-h-[400px] object-cover rounded-lg"
            src="/blog/EUSEXUA/3.avif" 
            alt=""
            >
        </div>
        <div class="flex-2">
        </div>
    </div>
</Layout>