---
import Card from '../components/card.astro';
import Tag from '../components/tag.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<Layout>
    <!-- HER0 -->
    <section class="relative bg-cuadriculado h-[90%] w-screen flex items-center justify-center  mt-18 ">
        <!-- <h1 class=" text-[380px] text-center font-ppMondwest text-title">VISCERAL</h1> -->
        <div class="w-[90%]  flex items-center justify-end z-5">
            <div class="w-[62%]  bg-visceral-negro flex flex-col p-10 rounded-xl border-2 border-visceral-rojo  pb-0">
                <div class="flex flex-1 text-visceral-rojo font-nohemiLight w-[60%] text-2xl">
                    <p>
                        UNA PLATAFORMA DE ARTE, CULTURA
                        POP Y MÚSICA. DISEÑADA PARA INSPIRAR 
                        Y CONECTAR A CREATIVOS CON CONTENIDO
                        AUTÉNTICO Y RELEVANTE.
                    </p>
                </div>
                <div class="flex flex-2 items-end flex-col">
                    <div class="">
                        <Tag class="bg-visceral-rojo "text="ARTE"/>
                        <Tag class="text-visceral-rojo b-visceral-rojo"text="MÚSICA"/>
                    </div>
                    <div class="mt-1">
                        <Tag class="text-visceral-rojo b-visceral-rojo"text="DISEÑO GRÁFICO"/>
                        <Tag class="bg-visceral-rojo "text="ARQUITECTURA"/>
                    </div>
                    <div class="mt-1">
                        <Tag class="bg-visceral-rojo "text="INTERIORISMO"/>
                        <Tag class="text-visceral-rojo b-visceral-rojo"text="CINE"/>
                    </div>
                    <div class="mt-1">
                        <Tag class="text-visceral-rojo b-visceral-rojo"text="TENDENCIAS"/>
                        <Tag class="bg-visceral-rojo "text="INTERNET"/>
                    </div>
                </div>
                <div class="flex flex-1 justify-end mt-10">
                    <img src="/Logos_Visceral-07.png" alt="logo-visceral-studio-rojo" class="max-w-40">
                </div>

            </div>
        </div>

        <div class="absolute inset-0  z-10">
            <img class="absolute left-120 top-40 max-h-[250px] border-2 border-visceral-rojo " src="/imagenes/visceral_web_imagenes-02.png" alt="">
            <img class="absolute right-17 top-35 max-h-[170px] border-2 border-visceral-rojo " src="/imagenes/visceral_web_imagenes-03.png" alt="">
            <img class="absolute left-50  top-50 max-h-[300px] border-2" src="/imagenes/visceral_web_imagenes-05.png" alt="">
            <img class="absolute left-50  top-145 max-h-[170px] border-2" src="/imagenes/visceral_web_imagenes-04.png" alt="">
            <img class="absolute right-230 top-100  max-h-[200px] border-2 border-visceral-rojo " src="/imagenes/visceral_web_imagenes-07.png" alt="">
            <img class="absolute right-125 top-100  max-h-[350px] border-2 border-visceral-rojo " src="/imagenes/visceral_web_imagenes-06.png" alt="">
        </div>

        <div class="absolute inset-0 flex items-center justify-center z-1">
            <img class="max-w-full max-h-full opacity-90" src="/imagenes/visceral_web_imagenes-11.png" alt="VISCERAL">
        </div>
        
    </section>

    <!-- NEWS & CONTACT -->
    <section class="flex font-nohemi">
        <div class="flex flex-col flex-1">
            <div class="border p-8">
                <span class="font-bold text-4xl ">News</span>
            </div>
            <div class="flex justify-between border p-4 bg-visceral-rosa">
                <span class="font-semibold ">EUSEXUA: LA ÚLTIMA OBRA DE ARTE DE FKA</span> <span>18/02/2025</span>
            </div>
            <div class="flex justify-between border p-4 bg-visceral-rojo">
                <span class="font-semibold ">ANIVERSARIO SOPHIE: UNA REVOLUCIÓN DEL PC MUSIC</span> <span>18/02/2025</span>
            </div>
            <div class="flex justify-between border border-black p-4 bg-visceral-negro text-white">
                <span class="font-semibold">MOTOMAMI: CONCEPTOS QUE MARCAN HISTORIAS</span> <span>18/02/2025</span>
            </div>

        </div>
        <div class="flex flex-col flex-1">
            <div class="border p-8">
                <span class="font-bold text-4xl ">Contact</span>
            </div>
            <div class="border p-4">
                <span class="font-semibold ">COLABORACIONES E INFO</span> <span>hola@visceral.pe</span>
            </div>
            <div class="border p-4">
                <span class="font-semibold ">SOLICITUDES STUDIO</span> <span>studio@visceral.pe</span>
            </div>
            <div class="border p-4">
                <span class="font-semibold ">ACEPTANDO SOLICITUDES</span> <span>SI</span>
            </div>

        </div>
    </section>

    <!-- LAST NEWS -->
    <section class="flex flex-col">
        <div class="flex border">
            <Card class="border-r"></Card>
            <Card class=""></Card>
        </div>
        <div class="flex border border-t-0">
            <Card class="border-r"></Card>
            <Card></Card>
        </div>

    </section>

    <!-- TEXTO -->
    <section class="w-screen flex items-center justify-center p-10">
        <div class="w-full mx-auto p-4 font-nohemiLight text-visceral-frase ">
          <p class="text-justify">
            <img src="/Logos_Visceral-03.png" alt="logo-visceral-dibujo-globo" class="float-left max-w-lg" />
            es una plataforma donde el arte se siente en carne viva. Aquí, exploramos el arte con una 
            <span class="font-PPEditorial italic">perspectiva audaz</span> y sin concesiones. Somos un espacio para quienes buscan experiencias 
            <span class="font-PPEditorial italic">auténticas, intensas y cargadas de propósito</span>. 
            <span class="font-PPMondwest ">En Visceral, cada historia, concepto y creación</span> refleja la esencia cruda y poderosa del arte en su forma más pura. 
            <span class="font-PPEditorial italic">Nos movemos con claridad</span>, nos expresamos con pasión, y siempre vamos al núcleo de lo que importa.
          </p>
        </div>
    </section>

    <!-- FOTOS -->
    <section class="bg-cuadriculado flex items-center justify-center w-screen py-18">
        <div class="relative grid grid-cols-4 grid-rows-2  w-full max-w-[80%] max-h-[70vh]">
            <!-- Primera columna  -->
            <img src="/imagenes/visceral_web_imagenes-08.png" 
                 alt="Lobo-blanco-diente" 
                 class="col-start-1 row-start-1 row-span-2 w-full h-full object-cover">
            
            <!-- Segunda columna  -->
            <img src="/imagenes/visceral_web_imagenes-15.png" 
                 alt="Perro-casco-moto" 
                 class="col-start-2 row-start-1 w-full h-full object-cover">
            <img src="/imagenes/visceral_web_imagenes-13.png" 
                 alt="2-Ratones-Blancos" 
                 class="col-start-2 row-start-2 w-full h-full object-cover">
            
            <!-- Tercera columna -->
            <img src="/imagenes/visceral_web_imagenes-14.png" 
                 alt="Sapo-Verde-Pixeleado" 
                 class="col-start-3 row-start-1 row-span-2 w-full h-full object-cover">
            
            <!-- Cuarta columna  -->
            <img src="/imagenes/visceral_web_imagenes-16.png" 
                 alt="Caballo-Blanco-LLamas" 
                 class="col-start-4 row-start-1 w-full h-full object-cover">
            <img src="/imagenes/visceral_web_imagenes-17.png" 
                 alt="Ojos-Morados-Gatos" 
                 class="col-start-4 row-start-2 w-full h-full object-cover">

            <div class="absolute inset-0 flex items-center justify-center z-10">
                    <img class="max-w-full max-h-full opacity-90" src="/imagenes/visceral_web_imagenes-09.png" alt="VISCERAL">
            </div>

        </div>

    </section>
    
</Layout>
