---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <div class="w-full h-full mt-18 bg-visceral-negro">

        <div class="w-full bg-visceral-negro border-b border-b-white text-4xl text-white p-8 font-nohemiBold flex align-top">
            <h1>TARKKA SDA</h1>
            <sub class="font-nohemi text-[10px]">
                ES MOMENTO DE CONTAR
                TU HISTORIA
            </sub>
        </div>
    </div>
</Layout>