<footer class="w-full fixed bottom-0 left-0 z-50 font-nohemiMedium border-t border-b bg-visceral-rojo">
    <div class="flex p-4"> 
      <div class="flex flex-2 flex-col">
        <img src="/Logos_Visceral-01.png" alt="logo-visceral-globo-negro" class="max-w-md">
        <div class="flex">           
          <sub>© 2025 Visceral Studio. Todos los derechos reservados.</sub>
        </div>
      </div>
      <div class="flex flex-2 justify-between items-end flex-col pr-20">
        <div class="flex flex-row">
          
          <div class="flex flex-col ml-11">
            <span class="font-bold text-xl">Contact</span>
            <span>HOLA@VISCERAL.PE</span>
            <span>+51 923 739 457</span>
          </div>

          <div class="flex flex-col ml-11">
            <span class="font-bold text-xl">Social</span>
            <a href="" class="hover:underline">INSTAGRAM</a>
            <a href="" class="hover:underline">LINKEDIN</a>
            <a href="" class="hover:underline">BEHANCE</a>
          </div>

          <div class="flex flex-col ml-11">
            <span class="font-bold text-xl">Navegacion</span>
            <a href="" class="hover:underline">HOME</a>
            <a href="" class="hover:underline">NEWS</a>
            <a href="" class="hover:underline">INFO</a>
            <a href="" class="hover:underline">SOCIAL</a>
            <a href="" class="hover:underline">SHOP</a>
          </div>

        </div>
      </div>
    </div>
</footer>
  