<footer class="w-full fixed bottom-0 left-0 z-50">
    <div class="flex">

        <div class="flex flex-3 p-7 border flex-row justify-center align-center">           
        </div>
      
        <div class="flex flex-2 p-7 border flex-row justify-evenly align-super">

          <div class="flex flex-col">
              <span class="font-bold text-xl">Contact</span>
              <span>HOLA@VISCERAL.PE</span>
              <span>+51 923 739 457</span>
          </div>

          <div class="flex flex-col">
              <span class="font-bold text-xl">Social</span>
            <a href="#" class="hover:underline">INSTAGRAM</a>
            <a href="#" class="hover:underline">LINKEDIN</a>
            <a href="#" class="hover:underline">BEHANCE</a>
        </div>
        
      </div>
    </div>
  </footer>
  