<nav class="w-full fixed top-0 left-0 z-50 font-nohemiMedium border-t border-b shadow-lg ">
    <ul class="flex w-full ">
      <li class=" p-1 flex items-center justify-center flex-1 bg-visceral-blanco " >            <a href="/"       ><img src="/Logos_Visceral-04.png" alt="logo-visceral-studio" class="max-w-40"/></a></li>
      <li class=" p-1 flex items-center justify-center flex-1 bg-visceral-rosa   " >            <a href="/news"   >NEWS</a></li>
      <li class=" p-1 flex items-center justify-center flex-1 bg-visceral-rojo   " >            <a href="/studio" >STUDIO</a></li>
      <li class=" p-1 flex items-center justify-center flex-2 bg-visceral-negro  text-white"> <a href="/create" ><span class="font-nohemiBold">LET’S CREATE SOMETHING</span>VISCERAL</a></li>
      <li class=" p-1 flex items-center justify-center flex-1 bg-visceral-blanco text-visceral-rojo" >   <a href="/info"   >INFO</a></li>
      <li class=" p-1 flex items-center justify-center flex-1 bg-visceral-rojo   text-visceral-rosa" >   <a href="/social" >SOCIAL</a></li>
      <li class=" p-1 flex items-center justify-center flex-1 bg-visceral-rosa   " >            <a href=""        >SHOP</a></li>
    </ul>
  </nav>
  

  