<nav class="w-full fixed top-0 left-0 z-50">
    <ul class="flex w-full ">
      <li class=" p-4 flex items-center justify-center flex-1   border" ><a href="/"       >LOGO</a></li>
      <li class=" p-4 flex items-center justify-center flex-1   border" ><a href="/news"   >NEWS</a></li>
      <li class=" p-4 flex items-center justify-center flex-1   border" ><a href="/studio" >STUDIO</a></li>
      <li class=" p-4 flex items-center justify-center flex-3   border" ><a href="/create" >LET’S CREATE SOMETHING VISCERAL</a></li>
      <li class=" p-4 flex items-center justify-center flex-1   border" ><a href="/info"   >INFO</a></li>
      <li class=" p-4 flex items-center justify-center flex-1   border" ><a href="/social" >SOCIAL</a></li>
      <li class=" p-4 flex items-center justify-center flex-1   border" ><a href="#"       >SHOP (soon)</a></li>
    </ul>
  </nav>
  