---
const { text } = Astro.props;
const {class : className } = Astro.props
---

<span class={`rounded-[8px] border-2  font-nohemi inline-block py-2 px-3 ${className} flex items-center justify-center`}>
  {text}
</span>
