---
const { text } = Astro.props;
const {class : className } = Astro.props
---

<span class={`rounded-2xl border-3  font-nohemi inline-block p-2 px-4 ${className} flex items-center justify-center`}>
  {text}
</span>
